@media screen and (max-width: 1200px) {
  .categoryTitle h1 {
    font-size: 1.8rem !important;
  }
}
@media screen and (max-width: 992px) {
  .carouselImageContainer {
    width: 300px;
    width: 300px;
  }
  .descContainer {
    padding-right: 1rem !important;
  }
}
@media screen and (max-width: 576px) {
  .carouselImageContainer {
    width: 300px;
    width: 300px;
  }
  .descContainer h1 {
    font-size: 3.5rem !important;
  }
  .descContainer p {
    font-size: 1.7rem !important;
  }
  .categoriesContainer img {
    width: 1000px !important;
    height: 300px !important;
  }
  .categoryTitle {
    top: 35% !important;
  }
  .popularProductRow {
    padding-top: 50px !important;
  }
}
@media screen and (max-width: 375px) {
  .categoriesContainer img {
    width: 500px !important;
    height: 200px !important;
  }
  .categoryTitle {
    top: 25% !important;
  }
}
.carouselItem {
  height: 100% !important;
  width: 100% !important;
  background-color: #f4f4f4;
}
.carouselItem .heroImage {
  z-index: 2;
}
.carouselItem .circle {
  position: absolute;
  top: 90px;
  left: 200px;
  width: 390px;
  height: 390px;
  background-color: aquamarine;
  border-radius: 100%;
  z-index: 1;
}
.carouselItem .descContainer {
  max-width: 950px;
  padding: 1rem 10rem 2.5rem 1rem;
  z-index: 3;
}
.carouselItem .descContainer h1 {
  font-size: 5rem;
  color: #111827;
}
.carouselItem .descContainer p {
  font-size: 2rem;
  color: #374151;
}

.buttonIndex {
  z-index: 3;
}

.carouselIcon {
  color: #676767;
  font-size: 35px;
}

.navContainer {
  max-width: 1500px;
  margin: auto;
  padding: 0px 12px;
}
.navContainer .brand {
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
}
.navContainer .links {
  color: #374151;
}
.navContainer li {
  margin: auto 0;
}

.descContainer button,
.categoryTitle button {
  background-color: transparent;
  font-size: 1.5rem;
  border-radius: 2px;
  border: 2px solid black;
  transition: 0.3s ease-out;
}
.descContainer button:hover,
.categoryTitle button:hover {
  background-color: #ffb347;
  transform: scale(99%);
}

.categoryTitle {
  width: 100%;
  top: 45%;
  left: 0%;
  position: absolute;
}
.categoryTitle h1 {
  font-size: 2.6rem;
  color: #FFFFFF;
}

.dropdown button {
  border-radius: 0;
  background-color: #FFFFFF;
  color: #111827;
  font-size: 18px;
  font-weight: 400;
  width: 90px;
  padding: 0.3rem 1rem;
  transition: 0.1s ease;
}
.dropdown button:hover {
  background-color: #374151;
  color: #FFFFFF;
}

.dropdownMenu {
  min-width: 85px;
}

.popularProductRow {
  padding-top: 100px;
  max-width: 1500px;
  margin: auto;
}
.popularProductRow img {
  z-index: 3;
}
.popularProductRow .productColumn {
  background-color: #e3f2fd;
  max-width: 376px;
  max-height: 387px;
  z-index: 1;
  cursor: pointer;
}
.popularProductRow .productColumn .productBgCircle {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  background-color: #bbdefb;
  border-radius: 100%;
  z-index: 2;
}
.popularProductRow .productColumn:hover .onHoverBGcolor {
  opacity: 1;
}
.popularProductRow .onHoverBGcolor {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.popularProductRow .onHoverBGcolor:hover .icon {
  opacity: 1;
}
.popularProductRow .iconContainer {
  position: absolute;
  z-index: 10;
  top: 40%;
  left: 0%;
}
.popularProductRow .iconContainer .icon {
  margin: 0 10px;
  -webkit-text-stroke: 1px;
  background-color: #FFFFFF;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0;
}
.popularProductRow .iconContainer .icon:hover {
  background-color: #e9f5f5;
  transform: scale(1.1);
}/*# sourceMappingURL=styles.module.css.map */