@media screen and (max-width: 1200px) {
  .categoryTitle {
    h1 {
      font-size: 1.8rem !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .imageContainer {
    width: 60%;
    width: 60%;
  }

  .descContainer {
    padding-right: 1rem !important;
  }
}

@media screen and (max-width: 576px) {
  .imageContainer {
    width: 400px;
    width: 400px;
  }

  .descContainer {
    h1 {
      font-size: 3.5rem !important;
    }
    p {
      font-size: 1.7rem !important;
    }
  }

  .categoriesContainer {
    img {
      width: 1000px !important ;
      height: 300px !important;
    }
  }
}

@media screen and (max-width: 375px) {
  .categoriesContainer {
    img {
      width: 500px !important ;
      height: 200px !important;
    }
  }
}
